body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .global-container {
    margin: 20px;
  }

  .global-buttons {
    margin: 20px;
  }

  .board-maker-buttons {
    margin: 20px;
  }

  